<header *ngIf="!authService.logged" class="bg-gradient-to-r from-[#4a90d6] to-[#f8a75d]">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">{{'app-name-b2c' | translate}}</span>
        <img 
        class="mx-auto w-28 h-auto"
        src="../../assets/images/logo.png" alt="">
      </a>
    </div>
       
    <div *ngIf="!loginData && !loginData2" class="hidden lg:flex lg:flex-1 lg:justify-end">
      <button
        class=" color-darkBlue mr-4 hover:button-primary-light text-white font-sm font-semibold py-2 px-4 rounded-md inline-flex items-center"
        (click)="gotoLogin()">
        {{ "button.login" | translate }}
        <svg class="w-6 h-6 mr-2 pl-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
        </svg>
      </button>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    
    <div *ngIf="showHeader || showHeaderData" class="hidden lg:flex lg:gap-x-12">
      <a (click)="navigate('/dashboard')"  class=" btn text-sm font-semibold leading-7 header-titles">Dashboard
      </a>
      <div (click)="toggleDropdown()" class="btn text-sm font-semibold leading-7 header-titles">
        Admin
      </div>
      
      <!-- Dropdown menu -->
      <div *ngIf="isDropdownOpen" class="dropdown-menu" style="cursor: pointer;">
        <a *ngIf="kycCmomplete != 'BASIC' || kycTemplate != 'BASIC'" (click)="navigate('/kycFrom')" class="dropdown-item">Complete KYC</a>
        <!-- <a (click)="navigate('/manageSubAgent')" class="dropdown-item">Manage Sub-Agent</a> -->
        <a (click)="navigate('/howtobecome')" class="dropdown-item">How To Become</a>
        <!-- <a  class="dropdown-item">Link Account</a>
        <a  class="dropdown-item">Add Money</a> -->
      </div>
      
      <div class="relative">
        <button type="button" class="flex items-center gap-x-1 btn text-sm font-semibold leading-7 header-titles"
          aria-expanded="false">
        AirTime Topup
          <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            (click)="showDropdownMenu()">
            <path fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>

   
      <a href="#" class=" btn text-sm font-semibold leading-7 header-titles"> Bank Transfer
      </a>
      <a href="#" class="btn text-sm leading-7 header-titles">Pay Bills</a>
      <a href="#" class="btn text-sm font-semibold leading-7 header-titles">Branch Address</a>
    </div>
    <div *ngIf="showHeader || showHeaderData"  class="hidden lg:flex lg:flex-1 lg:justify-end">
      <button
        class="border border-indigo-400 mr-4 hover:button-primary-light text-[#130067] font-sm py-2 px-4 rounded-md inline-flex items-center"
        (click)="logout()">
       Logout
      </button>

    </div>

  </nav>
 
</header>
<header *ngIf="authService.logged" class="global-header">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">{{'app-name-b2c' | translate}}</span>
        <img class="col-span-2 max-h-12 w-full object-contain lg:col-span-1" src="../../assets/images/aurumLogo.png" alt="">
      </a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <!--  <svg class="w-6 h-6 mr-2 pl-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="1.5" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
    </svg> -->
      <div class="relative">
        <button
          class="mr-4 hover:button-primary-light  text-md font-semibold leading-7 header-titles py-2 px-4 rounded inline-flex items-center">
          {{'profile.wallet_balance' | translate }} <span> {{ getWalletBalance() }} AFN</span>
          <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            (click)="showDropdownWallet()">
            <path fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
          <div *ngIf="showWallet"
            class="absolute  top-full z-10 mt-3  max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
            <div class="p-2">
              <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    Wallet No :
                  </a>
                  <!--                 <p class="mt-1 text-gray-600">Get a better understanding of your traffic</p>
-->
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    72586789
                  </a>                 
                </div>
              </div>
              <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    Mobile :
                    <span class="absolute inset-0"></span>
                  </a>
               </div>
 <div class="flex-auto">
  <a href="#" class="block font-semibold text-gray-900">
   
    <span class="absolute inset-0"></span>
  </a>
                <p class="mt-1 text-gray-600">725872588</p>
               </div>
              </div>

            </div>

          </div>


        </button>


      </div>

      <div class="relative">
        <button
          class=" hover:button-primary-light text-md font-semibold leading-7 header-titles py-2 px-4 rounded inline-flex items-center">

          {{getuserName()}}

          <svg class="h-5 w-5 flex-none text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"
            (click)="showDropdownUser()">
            <path fill-rule="evenodd"
              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
              clip-rule="evenodd" />
          </svg>
          <div *ngIf="showUser"
            class="absolute  top-full z-10 mt-3  max-w-md overflow-hidden rounded-3xl bg-white shadow-lg ring-1 ring-gray-900/5">
            <div class="p-2">
              <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                  </svg>
                </div>
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    Profile
                    <span class="absolute inset-0"></span>
                  </a>
                  <!--                 <p class="mt-1 text-gray-600">Get a better understanding of your traffic</p>
 -->
                </div>
               
              </div>
              <div class="group relative flex items-center gap-x-6 rounded-lg p-4 text-sm leading-6 hover:bg-gray-50">
                <div
                  class="flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white">
                  <svg class="h-6 w-6 text-gray-600 group-hover:text-indigo-600" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z" />
                  </svg>
                </div>
               
                <div class="flex-auto">
                  <a href="#" class="block font-semibold text-gray-900">
                    Logout
                    <span class="absolute inset-0"></span>
                  </a>
                  <!--                 <p class="mt-1 text-gray-600">Get a better understanding of your traffic</p>
 -->
                </div>
              </div>

            </div>
          </div>
        </button>

      </div>


    </div>

  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
  <!-- <div class="lg:hidden" role="dialog" aria-modal="true">
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
      <div class="flex items-center justify-between">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
        </a>
        <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
          <span class="sr-only">Close menu</span>
          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <div class="-mx-3">
              <button type="button"
                class="flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                aria-controls="disclosure-1" aria-expanded="false">
                Product
         
                <svg class="h-5 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                    clip-rule="evenodd" />
                </svg>
              </button>
           
            </div>
            <a href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Features</a>
            <a href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Marketplace</a>
            <a href="#"
              class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Company</a>
          </div>
          <div class="py-6">
            <a href="#"
              class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Log
              in</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</header>