<div *ngIf="currentPage === 1">
    <form [formGroup]="corporateForm" (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-medium text-gray-900 mb-4">Identity Details</h2>
        <!-- <div class="mb-4">
            <label for="accType" class="block text-sm font-medium text-gray-700">Account Type
                <sup style="color: red;">*</sup>
            </label>
            <select id="accType" formControlName="accType"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled>Select</option>
                <option value="AGENT">Internal Agent</option>
                <option value="MM_STAFF">External Agent</option>
                <option value="MERCHANT">Merchant</option>
            </select>
        </div> -->
        <div class="mb-4">
            <label for="basicFirstName" class="block text-sm font-medium text-gray-700">First Name
                <sup style="color: red;">*</sup>
            </label>
            <input id="basicFirstName" type="text" formControlName="basicFirstName"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('basicFirstName')?.errors?.['pattern'] && corporateForm.get('basicFirstName')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>
        <div class="mb-4">
            <label for="basicLastName" class="block text-sm font-medium text-gray-700">Last Name
                <sup style="color: red;">*</sup>
            </label>
            <input id="basicLastName" type="text" formControlName="basicLastName"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('basicLastName')?.errors?.['pattern'] && corporateForm.get('basicLastName')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>
        <div class="mb-4">
            <label for="basicFatherName" class="block text-sm font-medium text-gray-700">father Name
                <sup style="color: red;">*</sup>
            </label>
            <input id="basicFatherName" type="text" formControlName="basicFatherName"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('basicFatherName')?.errors?.['pattern'] && corporateForm.get('basicFatherName')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>
        <!-- <div class="mb-4">
            <label for="pos" class="block text-sm font-medium text-gray-700">Wallet number
                <sup style="color: red;">*</sup>
            </label>
            <input id="pos" type="text" formControlName="basicwallet"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('basicwallet')?.errors?.['pattern'] && corporateForm.get('basicwallet')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span>
        </div> -->
        <div class="mb-4">
            <label for="idType" class="block text-sm font-medium text-gray-700">ID Type
                <sup style="color: red;">*</sup>
            </label>
            <select id="idType" formControlName="idType"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled>Select ID Type</option>
                <option value="E_TAZKIRA">E-Tazkira</option>
                <option value="PAPER_TAZKIRA">Paper Tazkira</option>
                <option value="PASSPORT">Passport</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="idNO" class="block text-sm font-medium text-gray-700">ID number
                <sup style="color: red;">*</sup>
            </label>
            <input id="idNO" type="text" formControlName="idNO"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('idNO')?.errors?.['pattern'] && corporateForm.get('idNO')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span>
        </div>
        <div class="mb-4"
            *ngIf="corporateForm.get('idType')?.value == 'E_TAZKIRA' || corporateForm.get('idType')?.value == 'PASSPORT'">
            <label for="issueDate" class="block text-sm font-medium text-gray-700">ID Issue Date
                <sup style="color: red;">*</sup>
            </label>
            <input id="issueDate" type="date" formControlName="issueDate"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4"
            *ngIf="corporateForm.get('idType')?.value == 'E_TAZKIRA' || corporateForm.get('idType')?.value == 'PASSPORT'">
            <label for="expiryDate" class="block text-sm font-medium text-gray-700">ID Expiry Date
                <sup style="color: red;">*</sup>
            </label>
            <input id="expiryDate" type="date" formControlName="expiryDate"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4" *ngIf="corporateForm.get('idType')?.value == 'PAPER_TAZKIRA'">
            <label for="pageNO" class="block text-sm font-medium text-gray-700">Page Number
                <sup style="color: red;">*</sup>
            </label>
            <input id="pageNO" type="text" formControlName="pageNO"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('pageNO')?.errors?.['pattern'] && corporateForm.get('pageNO')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span>
        </div>
        <div class="mb-4" *ngIf="corporateForm.get('idType')?.value == 'PAPER_TAZKIRA'">
            <label for="bookNO" class="block text-sm font-medium text-gray-700">Book number
                <sup style="color: red;">*</sup>
            </label>
            <input id="bookNO" type="text" formControlName="bookNO"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('bookNO')?.errors?.['pattern'] && corporateForm.get('bookNO')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span>
        </div>
        <div class="mb-4" *ngIf="corporateForm.get('idType')?.value == 'PAPER_TAZKIRA'">
            <label for="regNO" class="block text-sm font-medium text-gray-700">Registration number
                <sup style="color: red;">*</sup>
            </label>
            <input id="regNO" type="text" formControlName="regNO"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('regNO')?.errors?.['pattern'] && corporateForm.get('regNO')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span>
        </div>

        <div class="mb-4">
            <label for="dob" class="block text-sm font-medium text-gray-700">Date of Birth
                <sup style="color: red;">*</sup>
            </label>
            <input id="dob" type="date" formControlName="dob"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('dob')?.hasError('underage')">
                <small style="color: red;">Age should be at least 18 years old.</small>
            </span>
        </div>
        <!-- <div class="mb-4">
            <label for="placeOfBirth" class="block text-sm font-medium text-gray-700">Place Of Birth
                <sup style="color: red;">*</sup>
            </label>
            <input id="placeOfBirth" type="text" formControlName="placeOfBirth"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('placeOfBirth')?.errors?.['pattern'] && corporateForm.get('placeOfBirth')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div> -->
        <div class="mb-4">
            <label for="country" class="block text-sm font-medium text-gray-700">Birth Country
                <sup style="color: red;">*</sup>
            </label>
            <select id="country" formControlName="country"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM">
                <option *ngFor="let nationality of nationalities" [value]="nationality?.name">{{nationality?.name}}
                </option>
            </select>
        </div>
        <div class="mb-4">
            <label for="province" class="block text-sm font-medium text-gray-700">Birth Province
                <sup style="color: red;">*</sup>
            </label>
            <select id="province" formControlName="province"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
                (change)="onSelectProvince($event)">
                <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="genderInfo" class="block text-sm font-medium text-gray-700">Gender
                <sup style="color: red;">*</sup>
            </label>
            <select id="genderInfo" formControlName="genderInfo"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled>Select gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="marital" class="block text-sm font-medium text-gray-700">Marital status
                <sup style="color: red;">*</sup>
            </label>
            <select id="marital" formControlName="marital"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled>Select</option>
                <option value="SINGLE">Single</option>
                <option value="MARRIED">Married</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="nationality" class="block text-sm font-medium text-gray-700">Nationality
                <sup style="color: red;">*</sup>
            </label>
            <select id="nationality" formControlName="nationality"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM">
                <option *ngFor="let nationality of nationalities" [value]="nationality?.name">{{nationality?.name}}
                </option>
            </select>
        </div>
        <div class="mb-4">
            <label for="basicPhone" class="block text-sm font-medium text-gray-700">Phone
                <sup style="color: red;">*</sup>
            </label>
            <input id="basicPhone" type="text" formControlName="basicPhone"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="basicPhone?.errors?.['pattern']" style="color: red;">
                <small>Please enter a valid phone number ending
                    with '7XXXXXXXX'.</small></span>
        </div>
        <div class="mb-4">
            <label for="basicEmail" class="block text-sm font-medium text-gray-700">Email
                <sup style="color: red;">*</sup>
            </label>
            <input id="basicEmail" type="text" formControlName="basicEmail"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('basicEmail')?.errors?.['pattern'] && corporateForm.get('basicEmail')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid email.
            </span>
        </div>
        <!-- <div class="mb-4">
            <label for="accOpenDate" class="block text-sm font-medium text-gray-700">Account Opening Date
                <sup style="color: red;">*</sup>
            </label>
            <input id="accOpenDate" type="text" formControlName="accOpenDate" 
                   class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div> -->


        <div class="mb-4">
            <label for="PTID" class="block text-sm font-medium text-gray-700">PTID Number
            </label>
            <input id="PTID" type="text" formControlName="PTID"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('PTID')?.errors?.['pattern'] && corporateForm.get('PTID')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span>
        </div>
        <div class="mb-4">
            <label for="accPurpose" class="block text-sm font-medium text-gray-700">Purpose of Account
                Opening
                <sup style="color: red;">*</sup>
            </label>
            <select id="accPurpose" formControlName="accPurpose" (change)="onChangeAccPurpose($event)"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM">
                <option *ngFor="let a of accPurposeData" [value]="a">
                    {{a}}
                </option>
            </select>
        </div>
        <div class="mb-4" *ngIf="accPurposeTextBox">
            <label for="accPurposeText" class="block text-sm font-medium text-gray-700">Purpose of Account
                Opening
                <sup style="color: red;">*</sup>
            </label>
            <input id="accPurposeText" type="text" formControlName="accPurposeText" placeholder="Enter a Value"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>


        <div class="flex justify-between">
            <button type="button" (click)="previousPage()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400">Previuos</button>
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
                style="background-color: #0a365a;" (click)="nextPage()" [disabled]="!isCurrentPageValid()">Next</button>
        </div>
    </form>
</div>
<div *ngIf="currentPage === 2">
    <form [formGroup]="corporateForm" (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-medium text-gray-900 mb-4"> Current Address Details</h2>
        <div class="mb-4">
            <label for="locationAddress" class="block text-sm font-medium text-gray-700">Location
                <sup style="color: red;">*</sup>
            </label>
            <input id="locationAddress" type="text" formControlName="locationAddress"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('locationAddress')?.errors?.['pattern'] && corporateForm.get('locationAddress')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>


        <div class="mb-4">
            <label for="countryAddress" class="block text-sm font-medium text-gray-700">Country
                <sup style="color: red;">*</sup>
            </label>
            <select id="countryAddress" formControlName="countryAddress" (change)="onChangeCountryCur($event)"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM">
                <option *ngFor="let nationality of nationalities" [value]="nationality?.name">
                    {{nationality?.name}}
                </option>
            </select>
        </div>

        <div class="mb-4" *ngIf="showCurProDrop">
            <label for="provinceAddress" class="block text-sm font-medium text-gray-700">Province
                <sup style="color: red;">*</sup>
            </label>
            <select id="provinceAddress" formControlName="provinceAddress"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
                (change)="onSelectProvince($event)">
                <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
            </select>
        </div>
        <!-- province text -->
        <div class="mb-4" *ngIf="showCurProText">
            <label for="province" class="block text-sm font-medium text-gray-700">Province
                <sup style="color: red;">*</sup>
            </label>
            <input id="province" type="text" formControlName="provinceTextCur"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>

        <div class="mb-4" *ngIf="showCurDisDrop">
            <label for="districtAddress" class="block text-sm font-medium text-gray-700">District
                <sup style="color: red;">*</sup>
            </label>
            <select id="districtAddress" formControlName="districtAddress"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM">
                <option *ngFor="let district of districts" [value]="district.name">{{district.name}}</option>
            </select>
        </div>
        <!-- district text -->
        <div class="mb-4" *ngIf="showCurDisText">
            <label for="district" class="block text-sm font-medium text-gray-700">District
                <sup style="color: red;">*</sup>
            </label>
            <input id="district" type="text" formControlName="districtTextCur"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>

        <div class="mb-4">
            <label for="streetAddress" class="block text-sm font-medium text-gray-700">Street</label>
            <input id="streetAddress" type="text" formControlName="streetAddress"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="flex justify-between">
            <button type="button" (click)="previousPage()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400">Previous</button>
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
                style="background-color: #0a365a;" (click)="nextPage()" [disabled]="!isCurrentPageValid()">Next</button>
        </div>
    </form>
</div>

<div *ngIf="currentPage === 3">
    <form [formGroup]="corporateForm" (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-medium text-gray-900 mb-4">Permanent Address Details</h2>


        <div class="mb-4">
            <label for="permanentCountry" class="block text-sm font-medium text-gray-700">Country
                <sup style="color: red;">*</sup>
            </label>
            <select id="permanentCountry" formControlName="permanentCountry" (change)="onChangeCountryPer($event)"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM">
                <option *ngFor="let nationality of nationalities" [value]="nationality?.name">
                    {{nationality?.name}}
                </option>
            </select>
        </div>
        <div class="mb-4" *ngIf="showPerProDrop">
            <label for="permanentProvince" class="block text-sm font-medium text-gray-700">Province
                <sup style="color: red;">*</sup>
            </label>
            <select id="permanentProvince" formControlName="permanentProvince"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
                (change)="onSelectProvince($event)">
                <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
            </select>
        </div>
        <!-- province text -->
        <div class="mb-4" *ngIf="showPerProText">
            <label for="province" class="block text-sm font-medium text-gray-700">Province
                <sup style="color: red;">*</sup>
            </label>
            <input id="province" type="text" formControlName="provinceTextPer"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4" *ngIf="showPerDisDrop">
            <label for="permanentDistrict" class="block text-sm font-medium text-gray-700">District
                <sup style="color: red;">*</sup>
            </label>
            <select id="permanentDistrict" formControlName="permanentDistrict"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM">
                <option *ngFor="let district of districts" [value]="district.name">{{district.name}}</option>
            </select>
        </div>
        <div class="mb-4" *ngIf="showPerDisText">
            <label for="district" class="block text-sm font-medium text-gray-700">District
                <sup style="color: red;">*</sup>
            </label>
            <input id="district" type="text" formControlName="districtTextPer"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="flex justify-between">
            <button type="button" (click)="previousPage()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400">Previous</button>
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
                style="background-color: #0a365a;" (click)="nextPage()" [disabled]="!isCurrentPageValid()">Next</button>
        </div>
    </form>
</div>
<!-- org details -->
<div *ngIf="currentPage === 4">
    <form [formGroup]="corporateForm" (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-medium text-gray-900 mb-4">Agent Organization/Shop Details</h2>
        <div class="mb-4">
            <label for="incomeSourceOrg" class="block text-sm font-medium text-gray-700">Source of Income
                <sup style="color: red;">*</sup>
            </label>
            <select id="incomeSourceOrg" formControlName="incomeSourceOrg" (change)="onChangeincomeSource($event)"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option *ngFor="let a of incomeSourceData" [value]="a">
                    {{a}}
                </option>
            </select>
        </div>
        <div class="mb-4" *ngIf="sourceTextBox">
            <label for="sourceText" class="block text-sm font-medium text-gray-700">Source of Income
                <sup style="color: red;">*</sup>
            </label>
            <input id="sourceText" type="text" formControlName="sourceText" placeholder="Enter a Value"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4">
            <label for="ShopName" class="block text-sm font-medium text-gray-700">organization/Shop name
                <sup style="color: red;">*</sup>
            </label>
            <input id="ShopName" type="text" formControlName="ShopName"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('ShopName')?.errors?.['pattern'] && corporateForm.get('ShopName')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>
        <div class="mb-4">
            <label for="positionorg" class="block text-sm font-medium text-gray-700">Position Held<sup
                    style="color: red;">*</sup></label>

            <input id="positionorg" type="text" formControlName="positionorg"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('positionorg')?.errors?.['pattern'] && corporateForm.get('positionorg')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>
        <div class="mb-4">
            <label for="address" class="block text-sm font-medium text-gray-700">Shop Address
                <sup style="color: red;">*</sup>
            </label>
            <input id="address" type="text" formControlName="address"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4">
            <label for="monthlyIncomeorg" class="block text-sm font-medium text-gray-700">Monthly Income
                <sup style="color: red;">*</sup>
            </label>
            <input id="monthlyIncomeorg" type="text" formControlName="monthlyIncomeorg"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <!-- <span
                *ngIf="corporateForm.get('monthlyIncomeorg')?.errors?.['pattern'] && corporateForm.get('monthlyIncomeorg')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span> -->
        </div>

        <div class="mb-4">
            <label for="TurnoverOrg" class="block text-sm font-medium text-gray-700">Monthly Turnover
                <sup style="color: red;">*</sup>
            </label>
            <input id="TurnoverOrg" type="text" formControlName="TurnoverOrg"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <!-- <span
                *ngIf="corporateForm.get('TurnoverOrg')?.errors?.['pattern'] && corporateForm.get('TurnoverOrg')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span> -->
        </div>
        <div class="mb-4">
            <label for="natureOfBusiness" class="block text-sm font-medium text-gray-700">Nature of Business
                <sup style="color: red;">*</sup>
            </label>
            <select id="natureOfBusiness" formControlName="natureOfBusiness" (change)="onChangeNatureOfBusiness($event)"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option *ngFor="let a of natureOfBusinessData" [value]="a.name">
                    {{a.name}}
                </option>
            </select>
        </div>
        <div class="mb-4" *ngIf="natureTextBox">
            <label for="natureText" class="block text-sm font-medium text-gray-700">Nature of Business
                <sup style="color: red;">*</sup>
            </label>
            <input id="natureText" type="text" formControlName="natureText" placeholder="Enter a Value"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        </div>
        <div class="mb-4">
            <label for="tinOrg" class="block text-sm font-medium text-gray-700">Tin Number
            </label>
            <input id="tinOrg" type="text" formControlName="tinOrg"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('tinOrg')?.errors?.['pattern'] && corporateForm.get('tinOrg')?.touched"
                class="text-red-500 text-sm">
                Please enter a valid numeric value.
            </span>
        </div>
        <div class="flex justify-between">
            <button type="button" (click)="previousPage()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400">Previous</button>
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
                style="background-color: #0a365a;" (click)="nextPage()" [disabled]="!isCurrentPageValid()">Next</button>
        </div>
    </form>
</div>
<!-- emi -->
<div *ngIf="currentPage === 5">
    <form [formGroup]="corporateForm" (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-medium text-gray-900 mb-4">EMI Account Details
        </h2>
        <div class="mb-4">
            <label for="haveOtherAccounts" class="block text-sm font-medium text-gray-700">Do you have account with
                other EMIs?
                <sup style="color: red;">*</sup>
            </label>
            <select id="haveOtherAccounts" formControlName="haveOtherAccounts" (change)="onSelectEMI($event)"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option></option>
                <option value="TRUE">Yes</option>
                <option value="FALSE">No</option>
            </select>
        </div>
        <div *ngIf="showEMIdetails">
            <div class="mb-4">
                <label for="EMIname" class="block text-sm font-medium text-gray-700">EMI Name
                    <sup style="color: red;">*</sup>
                </label>
                <input id="EMIname" type="text" formControlName="EMIname"
                    class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <span *ngIf="corporateForm.get('EMIname')?.errors?.['pattern'] && corporateForm.get('EMIname')?.touched"
                    class="text-red-500 text-sm">
                    Please enter only alphanumeric characters.
                </span>
            </div>
            <div class="mb-4">
                <label for="accountName" class="block text-sm font-medium text-gray-700">Account Name
                    <sup style="color: red;">*</sup>
                </label>

                <input id="accountName" type="text" formControlName="accountName"
                    class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <span
                    *ngIf="corporateForm.get('accountName')?.errors?.['pattern'] && corporateForm.get('accountName')?.touched"
                    class="text-red-500 text-sm">
                    Please enter only alphanumeric characters.
                </span>
            </div>
            <div class="mb-4">
                <label for="accountNo" class="block text-sm font-medium text-gray-700">Account Number
                    <sup style="color: red;">*</sup>
                </label>
                <input id="accountNo" type="text" formControlName="accountNo"
                    class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
        </div>

        <div class="flex justify-between">
            <button type="button" (click)="previousPage()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400">Previous</button>
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
                style="background-color: #0a365a;" (click)="nextPage()" [disabled]="!isCurrentPageValid()">Next</button>
        </div>
    </form>
</div>

<!-- proof -->
<div *ngIf="currentPage === 6">
    <form [formGroup]="corporateForm" (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-medium text-gray-900 mb-4">Proofs</h2>

        <div class="mb-4">
            <label for="inputLastName" class="block text-sm font-medium text-gray-700">
                Selfie/Live Photo Capture
                <sup style="color: red;">*</sup>
            </label>
            <input type="file" formControlName="userSign" (change)="detectFilesUserPhoto($event)" id="inputLastName"
                class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
        </div>
        <div class="mb-4">
            <label for="inputLastName" class="block text-sm font-medium text-gray-700">
                Digital Signature
                <sup style="color: red;">*</sup>
            </label>
            <input type="file" formControlName="digitalSign" (change)="detectFilesSign($event)" id="inputLastName"
                class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
        </div>
        <div class="mb-4">
            <label for="inputLastName" class="block text-sm font-medium text-gray-700">
                Document (Front)
                <sup style="color: red;">*</sup>
            </label>
            <input type="file" formControlName="docfront" (change)="detectFilesDocFront($event)" id="inputLastName"
                class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
        </div>
        <div class="mb-4">
            <label for="inputLastName" class="block text-sm font-medium text-gray-700">
                Document (Back)
                <sup style="color: red;">*</sup>
            </label>
            <input type="file" formControlName="docBack" (change)="detectFilesDocBack($event)" id="inputLastName"
                class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
        </div>
        <div class="mb-4">
            <label for="inputLastName" class="block text-sm font-medium text-gray-700">
                Valid Business/Governemt issued License
                <sup style="color: red;">*</sup>
            </label>
            <input type="file" formControlName="licenseSign" (change)="detectFilesLicense($event)" id="inputLastName"
                class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
        </div>
        <div class="mb-4">
            <label for="inputLastName" class="block text-sm font-medium text-gray-700">
                AddressProof
                <sup style="color: red;">*</sup>
            </label>
            <input type="file" formControlName="addressProof" (change)="detectFilesAddressProof($event)"
                id="inputLastName"
                class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
        </div>
        <div class="mb-4">
            <label for="inputLastName" class="block text-sm font-medium text-gray-700">
                TIN Letter
            </label>
            <input type="file" formControlName="tinLetter" (change)="detectFilesTINLetter($event)" id="inputLastName"
                class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                required>
        </div>
        <div class="mb-4">
            <label for="multipleDocs" class="block text-sm font-medium text-gray-700">
                Upload Multiple Documents
                <sup style="color: red;">*</sup>
            </label>

            <!-- File input with icon for adding documents -->
            <div class="flex items-center space-x-2">
                <input type="file" formControlName="multipleDocs" (change)="detectFilesMultipleDocs($event)"
                    id="multipleDocs"
                    class="mt-1 block w-full h-10 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                    multiple style="display:none">

                <!-- Icon to open the file input -->
                <button type="button" (click)="triggerFileInput()"
                    class="p-2 rounded bg-blue-500 hover:bg-blue-700 text-white">
                    <i class="fa fa-plus"></i> Add Documents
                </button>
            </div>

            <!-- Display file names with delete icon -->
            <div *ngIf="selectedFiles.length" class="mt-2 space-y-1">
                <div *ngFor="let file of selectedFiles; let i = index" class="flex items-center text-sm text-gray-600">
                    <i class="fa fa-file-text-o mr-1"></i> {{ file.name }}
                    <button type="button" (click)="removeFile(i)" class="ml-2 text-red-500 hover:text-red-700">
                        <i class="fa fa-trash"></i> <!-- Delete icon -->
                    </button>
                </div>
            </div>
        </div>

        <div class="flex justify-between">
            <button type="button" (click)="previousPage()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400">Previous</button>
            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
                style="background-color: #0a365a;" (click)="nextPage()" [disabled]="!isCurrentPageValid()">Next</button>
        </div>
    </form>
</div>
<!-- kin -->
<div *ngIf="currentPage === 7">
    <form [formGroup]="corporateForm" (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg">
        <h2 class="text-lg font-medium text-gray-900 mb-4">Next of kin</h2>
        <div class="mb-4">
            <label for="nameKin" class="block text-sm font-medium text-gray-700"> Name
                <sup style="color: red;">*</sup>
            </label>
            <input id="nameKin" type="text" formControlName="nameKin"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('nameKin')?.errors?.['pattern'] && corporateForm.get('nameKin')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>
        <div class="mb-4">
            <label for="fatherKin" class="block text-sm font-medium text-gray-700">Father name
                <sup style="color: red;">*</sup>
            </label>
            <input id="fatherKin" type="text" formControlName="fatherKin"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="corporateForm.get('fatherKin')?.errors?.['pattern'] && corporateForm.get('fatherKin')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>
        <div class="mb-4">
            <label for="numberKin" class="block text-sm font-medium text-gray-700">Mobile number
                <sup style="color: red;">*</sup>
            </label>
            <input id="numberKin" type="text" formControlName="numberKin"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span *ngIf="numberKin?.errors?.['pattern']" style="color: red;"><small>Please enter a valid phone number
                    ending
                    with '7XXXXXXXX'.</small></span>
        </div>
        <div class="mb-4">
            <label for="relationship" class="block text-sm font-medium text-gray-700">Relationship
                <sup style="color: red;">*</sup>
            </label>
            <select id="relationship" formControlName="relationship"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                <option value="" disabled>Select</option>
                <option value="FATHER">Father</option>
                <option value="MOTHER">Mother</option>
                <option value="SPOUSE">Spouse</option>

            </select>
        </div>
        <div class="mb-4">
            <label for="kinAddress" class="block text-sm font-medium text-gray-700">Address(Location) <sup
                    style="color: red;">*</sup></label>

            <input id="kinAddress" type="text" formControlName="kinAddress"
                class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            <span
                *ngIf="corporateForm.get('kinAddress')?.errors?.['pattern'] && corporateForm.get('kinAddress')?.touched"
                class="text-red-500 text-sm">
                Please enter only alphanumeric characters.
            </span>
        </div>

        <div class="flex justify-between">
            <button type="button" (click)="previousPage()"
                class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400">Previous</button>

            <button type="button"
                class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
                style="background-color: #0a365a;" (click)="submit()" [disabled]="!isCurrentPageValid()">Submit</button>
        </div>
    </form>
</div>
<!--  -->