<div class="min-h-screen p-[30px] flex items-center justify-center bg-gray-100">
  <div class="w-full max-w-4xl mx-auto bg-white rounded-lg shadow-lg p-6">
    <div class="flex flex-col md:flex-row items-start gap-6">
      <!-- Left Image Section -->
      <div class="w-full md:w-1/2 flex justify-center items-center mt-10">
        <img src="../../../assets/images/topup.jpg"
             alt="Breshna Payments"
             class="rounded-lg shadow-sm max-w-full h-auto" />
      </div>
  
      <!-- Right Content Section -->
      <div class="w-full md:w-1/2">
        <!-- <h2 class="text-2xl font-bold text-gray-800 mb-4">AirTime TopUp</h2> -->
  
        <div class="flex flex-col sm:flex-row gap-3">
          <!-- AWCC Stock -->
          <div class="flex-1 bg-gradient-to-r from-indigo-500 to-[#4a517e] p-2 text-white text-center rounded-md text-sm  flex flex-col justify-center">
            <div class="font-semibold">AWCC Stock Balance</div>
            <div class="text-sm font-semibold">{{ awccStockBalance != null ? (awccStockBalance | number:'1.2-2') : 'NIL' }}</div>
          </div>
  
          <!-- Non-AWCC Stock -->
          <div class="flex-1 bg-gradient-to-r from-orange-400 to-orange-500 p-2 text-white text-center rounded-md text-sm  flex flex-col justify-center">
            <div class="font-semibold">Non-AWCC Stock Balance</div>
            <div class="text-sm font-semibold">{{ nonAwccStockBalance != null ? (nonAwccStockBalance | number:'1.2-2') : 'NIL' }}</div>
          </div>
        </div>
  
  <div class="pt-5">
    
    <form [formGroup]="topUp">
         
  
      <div class="mb-4">
        <label for="mobNum" class="block text-sm font-medium text-gray-600"
          >Enter Mobile Number</label
        >
        <input
          (input)="onPhoneNumberInput()"
          type="text"
          id="mobNum"
          formControlName="mobNum"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Enter Mobile Number"
        />
        <span
          class="text-violet-400 font-semibold"
          *ngIf="serviceName && !errorMessage"
        >
          {{ serviceName }}
        </span>
        <span class="text-red-500 text-sm font-semibold" *ngIf="errorMessage">
          {{ errorMessage }}
        </span>
      </div>
  
      <div class="mb-4">
        <label for="amount" class="block text-sm font-medium text-gray-600">
          Enter Amount
        </label>
        <input
          type="text"
          id="amount"
          formControlName="amount"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Enter Amount"
          (keypress)="validateAmount($event)" 
        />
        <div *ngIf="topUp.get('amount')?.invalid && topUp.get('amount')?.touched" class="text-red-500 text-sm">
          <span *ngIf="topUp.get('amount')?.errors?.['required']">Amount is required.</span>
          <span *ngIf="topUp.get('amount')?.errors?.['pattern']">
            Enter a valid amount (Only numbers, no 0, no special characters).
          </span>
          <span *ngIf="topUp.get('amount')?.errors?.['maxAmount']">
            Amount cannot exceed Current Balance.
          </span>
        </div>
      </div>
      <div class="mb-4">
        <label for="amount" class="block text-sm font-medium text-gray-600">
          Enter PIN
        </label>
        <input
          type="password"
          id="pin"
          formControlName="pin"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-300"
          placeholder="Enter Pin"
          (keypress)="validateAmount($event)" 
        />
        <div *ngIf="topUp.get('pin')?.invalid && topUp.get('pin')?.touched" class="text-red-500 text-sm">
          <span *ngIf="topUp.get('pin')?.errors?.['required']">Pin is required.</span>
          <span *ngIf="topUp.get('pin')?.errors?.['pattern']">
            Enter a valid pin (Only numbers, no 0, no special characters).
          </span>
      
        </div>
      </div>
      
      <button
        [disabled]="
          this.topUp.controls['mobNum'].invalid ||
          this.topUp.controls['amount'].invalid ||
          this.topUp.controls['pin'].invalid 
        "
        (click)="submit()"
        class="w-full bg-orange-500 font-semibold text-white py-2 px-4 rounded-lg hover:bg-orange-600 focus:outline-none focus:ring focus:ring-orange-300"
      >
        TOP UP
      </button>
    </form>
  </div>
  
      </div>
    </div>
  </div>
  
</div>
<app-loader *ngIf="isLoading"></app-loader>
