<!-- <div *ngIf="customerSignup" class="flex justify-center items-center min-h-screen bg-gray-100">
    <div class="bg-white p-6 rounded shadow-md w-full max-w-md">
      <div *ngIf="!otpVerify">
        <div class="mb-3 text-center">
          <h2 class="text-2xl font-bold text-[rgb(0,100,162)]">Signup</h2>
        </div>
        <form [formGroup]="backOfficeForm">
          <div class="mb-4">
            <label>First Name</label>
            <input
            [(ngModel)]="firstName"
              formControlName="firstName"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            />
            <div
              *ngIf="
                backOfficeForm.get('firstName')?.touched &&
                backOfficeForm.get('firstName')?.invalid
              "
              class="text-red-600 text-sm"
            >
              First Name is required.
            </div>
          </div>
  
          <div class="mb-4">
            <label>Last Name</label>
            <input
              formControlName="lastName"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            />
            <div
              *ngIf="
                backOfficeForm.get('lastName')?.touched &&
                backOfficeForm.get('lastName')?.invalid
              "
              class="text-red-600 text-sm"
            >
              Last Name is required.
            </div>
          </div>
  
          <div class="mb-4">
            <label>Email</label>
            <input
              type="email"
              formControlName="email"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            />
            <div
              *ngIf="
                backOfficeForm.get('email')?.touched &&
                backOfficeForm.get('email')?.invalid
              "
              class="text-red-600 text-sm"
            >
              Email is required and must be a valid email address.
            </div>
          </div>
  
          <div class="mb-4">
            <label>Phone</label>
            <input
              type="number"
              formControlName="phone"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            />
            <div
              *ngIf="
                backOfficeForm.get('phone')?.touched &&
                backOfficeForm.get('phone')?.invalid
              "
              class="text-red-600 text-sm"
            >
              Phone number is required and must be at least 9 digits.
            </div>
          </div>
  
          <div class="mb-4">
            <label>Gender</label>
            <select
              formControlName="gender"
              autocomplete="phone"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            >
              <option value="MALE">Male</option>
              <option value="FEMALE">Female</option>
            </select>
            <div
              *ngIf="
                backOfficeForm.get('gender')?.touched &&
                backOfficeForm.get('gender')?.invalid
              "
              class="text-red-600 text-sm"
            >
              Gender is required.
            </div>
          </div>
  
          <div class="mb-4">
            <label>Password</label>
            <input
              type="password"
              formControlName="password"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            />
            <div
              *ngIf="
                backOfficeForm.get('password')?.touched &&
                backOfficeForm.get('password')?.invalid
              "
              class="text-red-600 text-sm"
            >
              Password is required.
            </div>
          </div>
  
          <div class="mb-4">
            <label>Confirm Password</label>
            <input
              formControlName="confirmPassword"
              type="password"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            />
            <div
              *ngIf="
                backOfficeForm.get('confirmPassword')?.touched &&
                backOfficeForm.get('confirmPassword')?.invalid
              "
              class="text-red-600 text-sm"
            >
              Confirm Password is required.
            </div>
          </div>
  
          <button
            [disabled]="backOfficeForm.invalid"
            (click)="onSave()"
            type="submit"
            class="w-full py-2 bg-custom-orange bg-orange-600 text-white font-bold rounded-lg transition duration-200"
          >
            Sign Up
          </button>
        </form>
      </div>
      <div *ngIf="otpVerify">
        <h2 class="text-2xl font-bold text-[rgb(0,100,162)] text-center mb-4">OTP Verification</h2>
        <form [formGroup]="otpForm">
          <div class="mb-4">
            <label>Enter OTP</label>
            <input
              formControlName="OTP"
              required
              class="w-full mt-1 p-1 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-indigo-500"
            />
            <div
              *ngIf="
                backOfficeForm.get('OTP')?.touched &&
                backOfficeForm.get('OTP')?.invalid
              "
              class="text-red-600 text-sm"
            >
              OTP is required.
            </div>
          </div>
          <button
            (click)="onSaveOtp()"
            type="submit"
            class="w-full py-2 bg-custom-orange bg-orange-600 text-white font-bold rounded-lg transition duration-200"
          >
            Verify
          </button>
        </form>
      </div>
    </div>
  </div>
  
  <div *ngIf="kycFormdata">
    <div *ngIf="currentPage === 1">
      <form
        [formGroup]="kycForm"
        (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg"
      >
        <h2 class="text-lg font-medium text-gray-900 mb-4">Basic Subagent Information</h2>
    
        <div class="mb-4">
          <label
            for="custInfoFirstName"
            class="block text-sm font-medium text-gray-700"
            >First Name</label
          >
          <input
readonly
            id="custInfoFirstName"
            type="text"
            formControlName="custInfoFirstName"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label
            for="custInfoSurname"
            class="block text-sm font-medium text-gray-700"
            >Last Name</label
          >
          <input
          readonly
            id="custInfoSurname"
            type="text"
            formControlName="custInfoSurname"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label
            for="custInfoFatherName"
            class="block text-sm font-medium text-gray-700"
            >Father Name</label
          >
          <input
            id="custInfoFatherName"
            type="text"
            formControlName="custInfoFatherName"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="custInfoDob" class="block text-sm font-medium text-gray-700"
            >Date Of Birth</label
          >
          <input
          [max]="minDate"
            id="custInfoDob"
            type="date"
            formControlName="custInfoDob"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="custInfoMale" class="block text-sm font-medium text-gray-700"
            >Gender</label
          >
          <select
            id="custInfoMale"
            formControlName="custInfoMale"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          >
            <option value="1">MALE</option>
            <option value="2">FEMALE</option>
            <option value="3">OTHERS</option>
          </select>
        </div>
    
        <div class="mb-4">
          <label
            for="custInfoAltPhone"
            class="block text-sm font-medium text-gray-700"
            >Phone</label
          >
          <input
          readonly
            id="custInfoAltPhone"
            type="text"
            formControlName="custInfoAltPhone"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="custInfoEmail" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
          readonly
            id="custInfoEmail"
            type="email"
            formControlName="custInfoEmail"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label
            for="custInfoCountry"
            class="block text-sm font-medium text-gray-700"
            >Nationality</label
          >
          <select
            id="custInfoCountry"
            formControlName="custInfoCountry"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
          >
            <option
              *ngFor="let nationality of nationalities"
              [value]="nationality?.name"
            >
              {{ nationality?.name }}
            </option>
          </select>
          <div
            *ngIf="
              kycForm.get('custInfoCountry')?.invalid &&
              (kycForm.get('custInfoCountry')?.dirty ||
                kycForm.get('custInfoCountry')?.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            Nationality is required
          </div>
        </div>
    
        <div class="flex justify-between">
          <button
            type="button"
            class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400"
          >
            Cancel
          </button>
          <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
            style="background-color: #0a365a"
            (click)="nextPage()"
          >
            Next
          </button>
        </div>
      </form>
    </div>
    
    <div *ngIf="currentPage === 2">
      <form
        [formGroup]="kycForm"
        (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg"
      >
        <h2 class="text-lg font-medium text-gray-900 mb-4">Address</h2>
        <div class="mb-4">
          <label for="currHouseNo" class="block text-sm font-medium text-gray-700"
            >House Number</label
          >
          <input
            id="currHouseNo"
            type="text"
            formControlName="currHouseNo"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="currLocation" class="block text-sm font-medium text-gray-700"
            >Location</label
          >
          <input
            id="currLocation"
            type="text"
            formControlName="currLocation"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="currCountry" class="block text-sm font-medium text-gray-700"
            >Country</label
          >
          <select
            id="currCountry"
            formControlName="currCountry"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
          >
            <option
              *ngFor="let nationality of nationalities"
              [value]="nationality?.name"
            >
              {{ nationality?.name }}
            </option>
          </select>
          <div
            *ngIf="
              kycForm.get('currCountry')?.invalid &&
              (kycForm.get('currCountry')?.dirty ||
                kycForm.get('currCountry')?.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            Nationality is required
          </div>
        </div>
    
        <div class="mb-4">
          <label for="currProvince" class="block text-sm font-medium text-gray-700"
            >Province</label
          >
          <select
            id="currProvince"
            formControlName="currProvince"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
            (change)="onSelectProvince($event)"
          >
            <option *ngFor="let province of provinces" [value]="province.name">
              {{ province.name }}
            </option>
          </select>
        </div>
    
        <div class="mb-4">
          <label for="currDistrict" class="block text-sm font-medium text-gray-700"
            >District</label
          >
          <select
            id="currDistrict"
            formControlName="currDistrict"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
          >
            <option *ngFor="let district of districts" [value]="district.name">
              {{ district.name }}
            </option>
          </select>
        </div>
    
        <div class="mb-4">
          <label for="currStreet" class="block text-sm font-medium text-gray-700"
            >Street</label
          >
          <input
            id="currStreet"
            type="text"
            formControlName="currStreet"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="flex justify-between">
          <button
            type="button"
            (click)="previousPage()"
            class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400"
          >
            Previous
          </button>
          <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
            style="background-color: #0a365a"
            (click)="nextPage()"
          >
            Next
          </button>
        </div>
      </form>
    </div>
    
    <div *ngIf="currentPage === 4">
      <form
        [formGroup]="kycForm"
        (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg"
      >
        <h2 class="text-lg font-medium text-gray-900 mb-4">Next of Kin Details</h2>
    
        <div class="mb-4">
          <label for="nokName" class="block text-sm font-medium text-gray-700"
            >Name</label
          >
          <input
            id="nokName"
            type="text"
            formControlName="nokName"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="nokMobile" class="block text-sm font-medium text-gray-700"
            >Mobile</label
          >
          <input
            id="nokMobile"
            type="text"
            formControlName="nokMobile"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="nokEmail" class="block text-sm font-medium text-gray-700"
            >Email</label
          >
          <input
            id="nokEmail"
            type="email"
            formControlName="nokEmail"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="nokHouseNo" class="block text-sm font-medium text-gray-700"
            >House Number</label
          >
          <input
            id="nokHouseNo"
            type="text"
            formControlName="nokHouseNo"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="nokLocation" class="block text-sm font-medium text-gray-700"
            >Location</label
          >
          <input
            id="nokLocation"
            type="text"
            formControlName="nokLocation"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label for="nokCountry" class="block text-sm font-medium text-gray-700"
            >Country</label
          >
          <select
            id="nokCountry"
            formControlName="nokCountry"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
          >
            <option
              *ngFor="let nationality of nationalities"
              [value]="nationality?.name"
            >
              {{ nationality?.name }}
            </option>
          </select>
          <div
            *ngIf="
              kycForm.get('nokCountry')?.invalid &&
              (kycForm.get('nokCountry')?.dirty ||
                kycForm.get('nokCountry')?.touched)
            "
            class="text-red-500 text-sm mt-1"
          >
            Nationality is required
          </div>
        </div>
    
        <div class="mb-4">
          <label for="nokProvince" class="block text-sm font-medium text-gray-700"
            >Province</label
          >
          <select
            id="nokProvince"
            formControlName="nokProvince"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
            (change)="onSelectProvince($event)"
          >
            <option *ngFor="let province of provinces" [value]="province.name">
              {{ province.name }}
            </option>
          </select>
        </div>
    
        <div class="mb-4">
          <label for="nokDistrict" class="block text-sm font-medium text-gray-700"
            >District</label
          >
          <select
            id="nokDistrict"
            formControlName="nokDistrict"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-SM"
          >
            <option *ngFor="let district of districts" [value]="district.name">
              {{ district.name }}
            </option>
          </select>
        </div>
    
        <div class="mb-4">
          <label for="nokStreet" class="block text-sm font-medium text-gray-700"
            >Street</label
          >
          <input
            id="nokStreet"
            type="text"
            formControlName="nokStreet"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="flex justify-between">
          <button
            type="button"
            (click)="previousPage()"
            class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400"
          >
            Previous
          </button>
          <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
            style="background-color: #0a365a"
            (click)="nextPage()"
          >
            Next
          </button>
        </div>
      </form>
    </div>
    
    <div *ngIf="currentPage === 3">
      <form
        [formGroup]="kycForm"
        (ngSubmit)="nextPage()"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg"
      >
        <h2 class="text-lg font-medium text-gray-900 mb-4">Occupation Details</h2>
        <div class="mb-4">
          <label for="orgName" class="block text-sm font-medium text-gray-700"
            >Occupation Name</label
          >
          <input
            id="orgName"
            type="text"
            formControlName="orgName"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label
            for="occupation"
            class="block text-sm font-medium text-gray-700"
            >Source of Income/Occupation</label
          >
          <input
            id="occupation"
            type="text"
            formControlName="occupation"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="mb-4">
          <label
            for="salary"
            class="block text-sm font-medium text-gray-700"
            >Monthly Income</label
          >
          <input
            id="salary"
            type="text"
            formControlName="salary"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="flex justify-between">
          <button
            type="button"
            (click)="previousPage()"
            class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400"
          >
            Previous
          </button>
          <button
            type="submit"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
            style="background-color: #0a365a"
          >
            Next
          </button>
        </div>
      </form>
    </div>
    
    <div *ngIf="currentPage === 5">
      <form
        [formGroup]="kycForm"
        class="max-w-lg mx-auto p-4 bg-white shadow-md rounded-lg"
      >
        <h2 class="text-lg font-medium text-gray-900 mb-4"></h2>
        <div class="mb-4">
          <label
            for="custInfoLicenseNo"
            class="block text-sm font-medium text-gray-700"
            >ID Type</label
          >
          <select
            id="custInfoMale"
            formControlName="custInfoMale"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          >
            <option value="1">E-Tazkira</option>
            <option value="2">Passport</option>
          </select>
        </div>
    
        <div class="mb-4">
          <label
            for="custInfoTazkira"
            class="block text-sm font-medium text-gray-700"
            >Id Number</label
          >
          <input
            id="custInfoTazkira"
            type="text"
            formControlName="custInfoTazkira"
            class="mt-1 block w-full h-8 border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>
    
        <div class="block text-sm font-medium text-gray-700 w-[300px] mb-4">
          Selfie Photo
          <div class="border border-gray-400 rounded-lg p-[10px]">
            <div class="ml-[61px]">
              <img
              width="150px "
              src="../../../assets/images/imageUpload.png"
              alt=""
              *ngIf="imageUrl"
              [src]="imageUrl"
              class="image"
              />
              <input #Image type="file" (change)="handleFileInput($event.target)" />
            </div>
          </div>
        </div>
    
        <div class="block text-sm font-medium text-gray-700 w-[300px] mb-4">
          Digital Signature
    
          <div class="border border-gray-400 rounded-lg p-[10px]">
            <div class="ml-[61px]">
              <img
              width="150px "
              src="../../../assets/images/imageUpload.png"
              alt=""
              *ngIf="signatureimageUrl"
              [src]="signatureimageUrl"
              class="image"
              />
              <input #Image type="file" (change)="signatureHandleFileInput($event.target)" />
            </div>
          </div>
        </div>
    
        <div class="flex justify-between">
          <button
            type="button"
            (click)="previousPage()"
            class="px-4 py-2 bg-gray-300 text-black rounded-md shadow-sm hover:bg-gray-400"
          >
            Previous
          </button>
        <app-spinner></app-spinner>

          <button
            type="submit"
            class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white focus:outline-none focus:ring-2 focus:ring-offset-2"
            style="background-color: #0a365a"
            (click)="onSaveKyc()"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
   -->

   <div
  class="flex justify-center items-center p-10 bg-gray-200"
>
  <div class="py-10 px-8 bg-white rounded-lg shadow-xl w-[85%]">
    <h6 class="text-xl font-bold text-gray-400">Sign Up For Micro-Merchant</h6>
    <div class="mt-6">
      <form
        [formGroup]="identityDetailsForm"
        class="grid grid-cols-1 md:grid-cols-2 gap-4 bg-gray-100 p-8 rounded-lg"
      >
        <div class="flex flex-col">
          <label for="type" class="block text-sm font-medium text-gray-700"
            >First Name<span class="text-red-500">*</span></label
          >
          <input
            type="text"
            id="customerFirstName"
            formControlName="customerFirstName"
            name="customerFirstName"
            required
            [ngClass]="{
              'border-red-500':
                identityDetailsForm.controls['customerFirstName'].touched &&
                identityDetailsForm.controls['customerFirstName'].invalid
            }"
            placeholder="First Name"
            class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
          />



          <label
            for="phone"
            class="mt-4 block text-sm font-medium text-gray-700"
            >Phone Number<span class="text-red-500">*</span>
            <span *ngIf="phoneError">
              <small style="color: red;"> {{ phoneError }}</small>
            </span></label
          >
          <input
          (blur)="checkPhoneExistence()"
            type="text"
            id="phone"
            formControlName="phone"
            name="phone"
            required
            class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
            [ngClass]="{
              'border-red-500':
                identityDetailsForm.controls['phone'].touched &&
                identityDetailsForm.controls['phone'].invalid
            }"
            placeholder="Phone Number"
          />


          <label
            for="customerGender"
            class="mt-4 block text-sm font-medium text-gray-700"
            >Gender<span class="text-red-500">*</span></label
          >
          <select
            id="customerGender"
            name="customerGender"
            formControlName="customerGender"
            placeholder="Select"
            class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
            [ngClass]="{
              'border-red-500':
                identityDetailsForm.controls['customerGender'].touched &&
                identityDetailsForm.controls['customerGender'].invalid
            }"
          >
            <option value="" disabled selected>Select</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
         
        </div>

        <div class="flex flex-col">
          <label
            for="customerLastName"
            class="block text-sm font-medium text-gray-700"
            >Last Name<span class="text-red-500">*</span></label
          >
          <input
            type="text"
            id="customerLastName"
            formControlName="customerLastName"
            name="customerLastName"
            required
            class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
            [ngClass]="{
              'border-red-500':
                identityDetailsForm.controls['customerLastName'].touched &&
                identityDetailsForm.controls['customerLastName'].invalid
            }"
            placeholder="Last Name"
          />

          <label
            for="customerEmail"
            class="mt-4 block text-sm font-medium text-gray-700"
            >Email<span class="text-red-500">*</span>
            <span *ngIf="emailError">
              <small style="color: red;"> {{ emailError }}</small>
            </span></label
          >
          <input
          (blur)="checkEmailExistence()"
            type="text"
            id="customerEmail"
            formControlName="customerEmail"
            name="customerEmail"
            required
            class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
            [ngClass]="{
              'border-red-500':
                identityDetailsForm.controls['customerEmail'].touched &&
                identityDetailsForm.controls['customerEmail'].invalid
            }"
            placeholder="Customer Email"
          />

         
          

         
          <label
          for="password"
          class="mt-4 block text-sm font-medium text-gray-700"
          >Password<span class="text-red-500">*</span></label
        >
        <div class="relative">
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            formControlName="password"
            id="password"
            maxlength="12"
            (keypress)="validateNumberInput($event)"
            class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
            placeholder="Customer Password"
          />
          <span (click)="togglePasswordVisibility()" class="right-3 top-4 absolute cursor-pointer">
            <i [ngClass]="isPasswordVisible ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
          </span>
        
          <div
            *ngIf="identityDetailsForm.controls['password'].invalid &&
                    (identityDetailsForm.controls['password'].touched || identityDetailsForm.controls['password'].dirty)"
            class="text-red-500 text-sm mt-1"
          >
            <div *ngIf="identityDetailsForm.controls['password'].errors?.['required']">
              Password is required.
            </div>
          </div>
        </div>
  
        </div>
        <div class="flex gap-2 justify-end mt-2 md:col-span-2">
          <button
          (click)="cancel()"
            type="submit"
            class="bg-gradient-to-r from-blue-500 to-blue-700 text-white px-[1rem] py-[0.3rem] rounded-lg hover:from-blue-600 hover:to-indigo-700 transition-all duration-300"
          >
            Cancel
          </button>
          <button
          [disabled]="identityDetailsForm.invalid || phoneError || emailError"
          (click)="createPayload()"
            type="submit"
            class="disabled:cursor-not-allowed bg-gradient-to-r from-blue-500 to-blue-700 text-white px-[1rem] py-[0.3rem] rounded-lg hover:from-blue-600 hover:to-indigo-700 transition-all duration-300"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
<!-- 
<div *ngIf="otpVerify" class="flex justify-center items-center p-[10.1rem] bg-gray-200">
  <div class="py-10 px-8 bg-white rounded-lg shadow-xl ">
    <h6 class="text-xl font-bold text-gray-400 ">OTP Verification</h6>
    <div class="mt-6">
      <form [formGroup]="otpForm"
        class=" bg-gray-100 p-8 rounded-lg"
      >
        <div class="flex flex-col">
          <label
            class="block text-sm font-medium text-gray-700"
            >Enter OTP<span class="text-red-500"
              >*</span
            ></label
          >
          <input
            type="text"
            id="otp"
            name="otp"
            formControlName="otp"
            required
            class="mt-1 p-3 block w-full border border-gray-300 rounded-lg text-sm focus:ring-blue-600 focus:border-blue-600 transition ease-in-out duration-200 shadow-sm"
            [ngClass]="{
              'border-red-500':
                otpForm.controls['otp'].touched &&
                otpForm.controls['otp'].invalid
            }"
            placeholder="Enter Otp"
          />

         
        </div>
        <div class="flex gap-2 justify-end mt-2 md:col-span-2">
            <button type="submit"
            class=" bg-gradient-to-r from-blue-500 to-blue-700 text-white px-[1rem] py-[0.3rem] rounded-lg hover:from-blue-600 hover:to-indigo-700 transition-all duration-300">
            Cancel
            </button>
            <button  (click)="createPayload()" type="submit"
            class="disabled:cursor-not-allowed bg-gradient-to-r from-blue-500 to-blue-700 text-white px-[1rem] py-[0.3rem] rounded-lg hover:from-blue-600 hover:to-indigo-700 transition-all duration-300">
           Verify & Register
            </button>
          </div>
      </form>
    </div>
  </div>
  <app-loader *ngIf="isLoading"></app-loader>
</div> -->