<div *ngIf="data?.flag == 'transactionHitory'" class="dialog-container">
  <button mat-icon-button class="close-icon" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
    <div class=" p-4 text-center text-xs">
      <!-- Logo -->
      <div class="mb-3">
        <img src="../../../../../assets/images/logo.png" alt="Logo" class="mx-auto w-24" />
      </div>
  
      <!-- Transaction Header -->
      <h2 class="text-blue-500 font-bold text-sm mb-1">Transaction Details</h2>
      <h3 class="text-black font-semibold text-xs mb-3">Status</h3>
  
      <!-- Transaction Info -->
      <div class="text-center space-y-1.5">
        <p><span class="font-semibold">Type :</span> {{data?.responseData?.transType}}</p>
        <p><span class="font-semibold">Transaction ID :</span> {{data?.responseData?.transNo}}</p>
        <p *ngIf="data?.responseData?.debitAmount =='0.0'"><span class="font-semibold">Credit Amount :</span> {{data?.responseData?.creditAmount}} AFN</p>
        <p *ngIf="data?.responseData?.creditAmount =='0.0'"><span class="font-semibold">Debit Amount :</span> {{data?.responseData?.debitAmount}} AFN</p>
        <p><span class="font-semibold">Payment Method :</span> {{data?.responseData?.payMethod}}</p>
        <p><span class="font-semibold">Date :</span> {{data?.responseData?.date}}</p>
        <p><span class="font-semibold">OtherInfo : </span>{{data?.responseData?.otherInfo}}</p>
      </div>
  
      <!-- Buttons -->
      <div class="mt-4 flex gap-2">
        <button (click)="downloadPDF('receiptContent')" class="w-full bg-[rgb(244,122,32)] hover:bg-[rgb(230,100,20)]  text-white  py-1.5 rounded text-xs">Download</button>
        <button (click)="sharePDF('receiptContent')" class="w-full bg-[#226ba6] hover:bg-[#2a5071] text-white  py-1.5 rounded text-xs">SHARE RECEIPT</button>
      </div>
    </div>
  
</div>

<div *ngIf="data?.flag == 'stockTransactionHitory'" class="dialog-container">
  <button mat-icon-button class="close-icon" (click)="closeDialog()">
    <mat-icon>close</mat-icon>
  </button>
    <div class=" p-4 text-center text-xs">
      <!-- Logo -->
      <div class="mb-3">
        <img src="../../../../../assets/images/logo.png" alt="Logo" class="mx-auto w-24" />
      </div>
  
      <!-- Transaction Header -->
      <h2 class="text-blue-500 font-bold text-sm mb-1">Transaction Details</h2>
      <h3 class="text-black font-semibold text-xs mb-3">Status</h3>
  
      <!-- Transaction Info -->
      <div class="text-center space-y-1.5">
        <p><span class="font-semibold">Account No :</span> {{data?.responseData?.accNumber}}</p>
        <p><span class="font-semibold">Transaction ID :</span> {{data?.responseData?.batchId}}</p>
        <p *ngIf="data?.responseData?.debit =='0.0'"><span class="font-semibold">Credit Amount :</span> {{data?.responseData?.credit}} AFN</p>
        <p *ngIf="data?.responseData?.credit =='0.0'"><span class="font-semibold">Debit Amount :</span> {{data?.responseData?.debit}} AFN</p>
        <p><span class="font-semibold">Running Balance :</span> {{data?.responseData?.runningBal}}</p>
        <p><span class="font-semibold">Date :</span> {{data?.responseData?.txnDate}}</p>
        <p><span class="font-semibold">OtherInfo : </span>{{data?.responseData?.description}}</p>
      </div>
  
      <!-- Buttons -->
      <div class="mt-4 flex gap-2">
        <button (click)="downloadPDF('receiptContentStock')" class="w-full bg-[rgb(244,122,32)] hover:bg-[rgb(230,100,20)]  text-white  py-1.5 rounded text-xs">Download</button>
        <button (click)="sharePDF('receiptContentStock')" class="w-full bg-[#226ba6] hover:bg-[#2a5071] text-white  py-1.5 rounded text-xs">SHARE RECEIPT</button>
      </div>
    </div>
  
</div>

<!-- receipt.component.html -->
<div #receiptContent style="position: absolute; left: -9999px;" class="receipt-container">
  <div class="header">
    <img src="../../../../../assets/images/receipt.png" class="logo" />
    <h3 style="color: white;">Receipt</h3>
  </div>

  <div class="body">
    <img src="../../../../../assets/images/logo.png" class="logo" />

    <div class="row space-between">
      <div>
        <strong>Billed By</strong><br />
        {{firstName}} {{lastname}}<br />
        {{accountNo}}
      </div>
      <div>
        <strong>Billed Date</strong><br />
        {{data?.responseData?.date}}
            </div>
    </div>

    <div class="section w-40">
      <strong>Billed Details</strong><br />
      {{data?.responseData?.otherInfo}}
    </div>

    <div class="service-box">
      <div class="row space-between">
        <div><strong>Service</strong></div>
        <div><strong>Amount</strong></div>
      </div>
      <div class="row space-between">
        <div style="font-size: 12px;">{{data?.responseData?.serviceName}}</div>&nbsp;
        <div  *ngIf="data?.responseData?.debitAmount =='0.0'">CREDIT {{data?.responseData?.creditAmount}} AFN</div>
        <div  *ngIf="data?.responseData?.creditAmount =='0.0'">DEBIT {{data?.responseData?.debitAmount}} AFN</div>
      </div>
    </div>

    <div class="total-row">
      <div><strong>Amount Total</strong></div>
      <div  *ngIf="data?.responseData?.debitAmount =='0.0'"><strong>{{data?.responseData?.creditAmount}} AFN</strong></div>
      <div *ngIf="data?.responseData?.creditAmount == '0.0'"><strong>{{data?.responseData?.debitAmount}} AFN</strong></div>
    </div>

    <div class="footer">
      Ref No : Transaction Id : {{data?.responseData?.transNo}}
    </div>
  </div>
</div>

<div #receiptContentStock style="position: absolute; left: -9999px;" class="receipt-container">
  <div class="header">
    <img src="../../../../../assets/images/receipt.png" class="logo" />
    <h3 style="color: white;">Receipt</h3>
  </div>

  <div class="body">
    <img src="../../../../../assets/images/logo.png" class="logo" />

    <div class="row space-between">
      <div>
        <strong>Billed By</strong><br />
        {{firstName}} {{lastname}}<br />
        {{accountNo}}
      </div>
      <div>
        <strong>Billed Date</strong><br />
        {{data?.responseData?.txnDate}}
            </div>
    </div>

    <div class="section w-40">
      <strong>Billed Details</strong><br />
      {{data?.responseData?.description}}
    </div>

    <div class="service-box">
      <div class="row space-between">
        <div><strong>Service</strong></div>
        <div><strong>Amount</strong></div>
      </div>
      <div class="row space-between">
        <div style="font-size: 12px;">{{data?.responseData?.serviceName}}</div>&nbsp;
        <div  *ngIf="data?.responseData?.debitAmount =='0.0'">CREDIT {{data?.responseData?.credit}} AFN</div>
        <div  *ngIf="data?.responseData?.credit =='0.0'">DEBIT {{data?.responseData?.debit}} AFN</div>
      </div>
    </div>

    <div class="total-row">
      <div><strong>Amount Total</strong></div>
      <div  *ngIf="data?.responseData?.debit =='0.0'"><strong>{{data?.responseData?.credit}} AFN</strong></div>
      <div *ngIf="data?.responseData?.credit == '0.0'"><strong>{{data?.responseData?.debit}} AFN</strong></div>
    </div>

    <div class="footer">
      Ref No : Transaction Id : {{data?.responseData?.batchId}}
    </div>
  </div>
</div>